@import './Elevation'

button
    position relative
    overflow hidden
    background-color transparent
    border none
    cursor pointer

    &:focus
        border none
        outline none

     &:after
        content ''
        display block
        position absolute
        left 50%
        top 50%
        width 120px
        height 120px
        margin-left -60px
        margin-top -60px
        background rgba(255, 255, 255, 1)
        border-radius 100%
        opacity .6
        transform scale(0)

    &:not(:active):after
        animation ripple 1s ease-out

    &:after
        visibility hidden

    &:focus:after
        visibility visible

    &.flat, &.raised
        font-size 0.875rem
        line-height 2.25rem
        font-weight bold
        letter-spacing 0.04em
        text-decoration none
        text-transform uppercase
        border-radius 2px
        padding-right 8px
        padding-left 8px

    &.flat
        color rgb(33, 33, 33)
        transition background-color .28s cubic-bezier(.4, 0, .2, 1)

        &:hover
            background-color: rgba(@color, 0.04)

    &.raised
        elevationz2()

        &:hover
            elevationz4()

        &[disabled]
            background-color rgba(0, 0, 0, 0.12)
            box-shadow none
            cursor default

button.icon
    padding 0
    margin 0
    border-radius 50%
    width 40px
    height 40px

    &:hover
        transition background-color .28s ease
        background-color rgba(255,255,255,0.1)

button.fab
    width 56px
    height 56px
    border-radius 50%
    elevationz5()
    transition background-color .28s cubic-bezier(.4, 0, .2, 1)

    &:hover
        elevationz8()


@keyframes ripple
  0%
    transform scale(0)

  20%
    transform scale(1)

  100%
    opacity 0;
    transform scale(1)
