@import 'Elevation.styl'

.list
    margin 0
    padding 8px 0
    list-style none
    font-size 1rem
    font-weight 400
    color rgb(33, 33, 33)
    line-height 1.5rem
    letter-spacing 0.04em

    li
        transition background-color 0.25s ease;
        margin 0
        display block
        height 48px
        display flex
        align-items center
        justify-content flex-start
        overflow hidden
        padding 0 16px

        &:hover
            background-color rgba(0,0,0,0.04)

        &:focus, &:active, &.active
            background-color rgba(0,0,0,0.12)


    &.dense
        padding-top 4px
        padding-bottom 4px
        font-size .812rem

        li
            height 40px

nav
    .list

        li
            padding 0
        a
            cursor pointer
            display grid
            grid-template-columns auto 1fr
            grid-column-gap 32px
            text-decoration none
            color rgb(33, 33, 33)
            width 100%
            height 100%
            align-items center
            padding 0 16px



nav.menu
    elevationz2()
    background-color #fff
    width 200px
    border-radius 2px

    section
        border-top 1px solid rgba(0, 0, 0, 0.12)

    a
        padding 0 16px
