.toolbar

    .title
        font-family "Roboto Mono", monospace
        font-size 1.25rem
        font-weight 500
        letter-spacing 0.02em
        white-space nowrap
        line-height 1.5rem
        margin 0

    section
        height 64px
        align-items center
        display grid
        padding 0 16px
