.toolbar
    padding 0 16px
    display grid
    align-items center
    height 64px

    .title
        font-family "Roboto Mono", monospace
        font-size 1.25rem
        font-weight 500
        letter-spacing 0.02em
        white-space nowrap
        line-height 1.5rem
